<style>
#BS {
  border-style: solid;
  border-color: #5900b3;
  padding: 10px;
}

#BD {
  border-style: double;
  border-color: #5900b3;
  padding: 10px;
}


#BT{
  border-style: dotted;
  border-color: #5900b3;
  padding: 10px;
}
</style>
