<style>
Div.solid {
  border-style: solid;
  border-color: #5900b3;
  padding: 10px;
}

Div.double {
  border-style: double;
  border-color: #5900b3;
  padding: 10px;
}


Div.dotted{
  border-style: dotted;
  border-color: #5900b3;
  padding: 10px;
}
</style>
