<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<image rel="stylesheet" href="{{url_for('static', filename="avatar.jpg")}}">
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>

<h2>Alert Messages</h2>

<p>Click on the "x" symbol to close the alert message.</p>
<div class="alert">
  <span class="closebtn" onclick="history.go(-1)" id="message">&times;</span>
  <strong>Error!</strong> {{ message }}.
  
</div>

<style>
  img {
        width: 400px 300px;
        margin-left: 450px;
        padding: 20px;
       }
  a {
         width: 250px;
         margin-left: 500px;
         margin-right: auto;
         }

</style>


<p> <img class="rouded-circle"   src="static/avatar.jpg" alt="My avatar" >  </p>






</body>
</html>
