<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
    Books - CS50W Project1
{% endblock %}
{% block heading%}
    Grace´s Virtual Library
{% endblock %}

{% block body%}
     <h2>Nav</h2>
     <p>Basic horizontal menu:</p>
     <ul class="nav">
         <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
         </li>
         <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a>
         </li>
     </ul>


  <h2>      What books do you recommend?       <h2>
  <h2>  Help good readers to find good books! </h2>





{% endblock %}


#colocar opçoes para novo usuário ou para login
