<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
    CS50W Project 1: Books
{% endblock %}

{% block heading%}
    Grace´s Virtual Library
{% endblock %}

{% block body%}


  <h2>      What books do you recommend?       <h2>
  <h2>  Help good readers to find good books! </h2>
  <p style="padding: 80px;" >
    <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">New User</button>
  </p>




{% endblock %}


#colocar opçoes para novo usuário ou para login
