<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Mystylelist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
         .header {
                 padding: 80px;
                 text-align: center;
                 font-size: 40px;
                 font-weight: bold;
                 }
           h1,h2,h3 {text-align:Center;}
                  p {text-align:left;}
           body { background-color: #e6ccff;
                  color:  #400080;
                 }
    </style>



    <div class="container">

        <nav class="navbar navbar-expand-lg text-white fixed-top " style="background-color: #330066;">
          <p>
              <ul class="navbar-nav">
              <li class="nav-item">
              <a class="Home        " href="index.html">Home         </a>
              </li>
              <li class="nav-item">
              <a class="Books Search" href="search.html">Books Search</a>
              </li>
              <li class="nav-item">
              <a class="Reviews     " href="bookspage.html">Reviews </a>
              </li>
              <li class="nav-item">
              <a class="Logout      " href="logout.html">Logout</a>
              </li>
           </ul> </p>
        </nav>
    </div>
    <div class="header">
      {% block heading%}      {% endblock %}
    </div>

  </head>



  <body>


    <div class="container">
        {% block body %}


        {% endblock %}
    </div>

  </body>
</html>
