<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="Mystylelist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
           h1,h2,h3 {text-align:Center;}
                  p {text-align:left;}
           body { background-color: #e6ccff;
                  color:  #400080;
                 }

    </style>
  </head>
  <body>
    <h1>{% block heading%}   {% endblock %}</h1>

    <div class="container">
        {% block body %}


        {% endblock %}
    </div>

  </body>
</html>
