<!DOCTYPE html>

<!--Search: Once a user has logged in, they should be taken to a page where they
can search for a book. Users should be able to type in the ISBM number of a book,
the title of a book, or the author of a book. After performing the search,
your website should display a list of possible matching results, or some sort
of message if there were no matches. If the user typed in only part of a title,
ISBM, or author name, your search page should find matches for those as well! -->


{% extends "layout.html" %}

{% block title %}
    CS50W Project 1: Books
{% endblock %}

{% block heading%}
    Please search a Book : {{username}}
{% endblock %}

{% block body%}

<form action="{{ url_for('search')}}" onsubmit="javascript: return MyRadio()" method="post" >
  <div class="container">
       <h3> You can find your book typing Title or Author or ISBM </h3>

      <p></p>
           <input class="form-control" name="SQLquerry" id="SQLquerry" placeholder="Search by Title, Author or ISBM" required>
      <p></p>
           <button type="submit" class="btn btn-primary" style="background-color:#400080" >Search</button>
           <p></p>
        </div>
  </div>
</form>

<h3>Here are your Results</h3>
<div class="form-group">
	<form action="{{ url_for('search') }}" method="post">
		{% if results and results|length > 0 %}
		<div class="form-group">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ISBN</th>
						<th scope="col">Title</th>
						<th scope="col">Author</th>
						<th scope="col">Action</th>
					</tr>
				</thead>

					{% for result in results %}
						<tr>
							<td>{{ result.title }}</td>
							<td>{{ result.author }}</td>
							<td>{{ result.year }}</td>
							<td>{{ result.isbn }}</td>
					{% endfor %}

			</table>
		</div>


		{% else %}
		<div class="form-group">
			<output>No matches found</output>
		</div>
		{% endif %}
	</form>
</div>





{% endblock %}
