<!DOCTYPE html>

<!--Search: Once a user has logged in, they should be taken to a page where they
can search for a book. Users should be able to type in the ISBM number of a book,
the title of a book, or the author of a book. After performing the search,
your website should display a list of possible matching results, or some sort
of message if there were no matches. If the user typed in only part of a title,
ISBM, or author name, your search page should find matches for those as well! -->


{% extends "layout.html" %}

{% block title %}
    CS50W Project 1: Books
{% endblock %}

{% block heading%}
    Please search a Book {{username}}.
{% endblock %}

{% block body%}
<form action="{{ url_for('search') }}" method="post" >
  <div class="container">
       <div class="form-group">
           <input type="radio" id="1" name="choice" value="Author" checked >
           <label for="Author">Author</label>
           <input type="radio" id="2" name="choice" value="Title" >
           <label for="Title">Title</label>
           <input type="radio" id="3" name="choice" value="ISBM">
           <label for="ISBM">ISBM</label><br>
           <p></p>
           <input class="form-control" name="SQLquerry" id="SQLquerry" placeholder="Search by Title, Author or ISBM" required>
           <p></p>
           <button type="submit" class="btn btn-primary" style="background-color:#400080">Search</button>
           <p></p>
        </div>
  </div>
</form>

<!--search results
<h1 sytle= "padding : 10px">Here are the Books Matching Your Search:</h1>

    <table style="width:100%" class="table" >
      <tr>
        <th scope="col" >Title</th>
        <th scope="col" >Author</th>
        <th scope="col" >ISBM</th>
        <th scope="col" >Year</th>
      </tr>
      {% for result in results %}
            <tr class="table-striped">
               <td><a href="{{ url_for('search')}}">
                   {{ result.Title }}</a></td>
               <td>{{ result.Author }}</td>
               <td>{{ result.ISBM }}</td>
               <td>{{ result.Year }}</td>
            </tr>
      {% endfor %}
    </table>-->


{% endblock %}
