<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
    CS50W Project 1: Books
{% endblock %}

{% block heading%}
    Search a Book
{% endblock %}

{% block body%}



<style>
</style>

<div class="form-check-inline">
 <label class="form-check-label">
   <input type="radio" class="form-check-input" name="optradio">ISBM
 </label>
</div>
<div class="form-check-inline">
 <label class="form-check-label">
   <input type="radio" class="form-check-input" name="optradio">Author
 </label>
</div>
<div class="form-check-inline">
 <label class="form-check-label">
   <input type="radio" class="form-check-input" name="optradio">Title
 </label>
</div>
<form action="{{ url_for('search') }}" method="post">
    <div class="form-group">
        <input class="form-control" name="searchqry" placeholder="Search by Title, Author or ISBN">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" style="background-color:#400080">Search</button>
    </div>

</form>

<h1>Here are the Books Matching Your Search:</h1>

    <table style="width:100%" class="table" >
      <tr>
        <th scope="col" style="color:white">Title</th>
        <th scope="col" style="color:white">Author</th>
        <th scope="col" style="color:white">Year</th>
        <th scope="col" style="color:white">ISBN</th>
      </tr>
      {% for books in books %}
      <tr class="table-striped">
        <td><a href="{{ url_for('book', book_id=books.id) }}">{{ books.title }}</a></td>
        <td>{{ books.author }}</td>
        <td>{{ books.year }}</td>
        <td>{{ books.isbn }}</td>
      </tr>
      {% endfor %}
    </table>


{% endblock %}
